body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: minmax(240px, 1fr) 3fr;
  column-gap: 1em;
  height: 100vh;
  margin: 0 3em;
}

@media only screen and (max-width: 800px) {
  body {
      background-color: #EEDEDE;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}