body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1em;
  height: 100vh;
  margin: 0 1em
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}